@import '../../../variables.scss';

.search-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 270px;
  height: 200px;
  background-color: $baseWhite;
  overflow-y: scroll;
  border-radius: 5px;
  z-index: 1;

  &__option {
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      background-color: $lightGray;
    }

    &-poster {
      min-width: 92px;
      height: 138px;
    }

    &-title {
      font-size: $baseFontSize;
      font-family: $baseFontFamily;
      margin-left: 20px;
    }
  }

}
