@import "../../../variables.scss";

.button {
  color: $baseWhite;
  outline: none;
  border: none;
  border: 2px solid $borderButtonColor;
  font-size: $baseFontSize + 5;
  font-family: $baseFontFamily;
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.5s;

  &:hover {
    color: $baseBlack;
    background-color: $borderButtonColor;
  }
}
