<div class="home-page">
  <div>
    <div class="home-page__title">Welcome to the "Movies search" portal!</div>
    <div class="home-page__description">
      At this site you can see list of popular film.
      The are updates every day. You can see some film details after click on film card.
      Also, you can add some film to the favorites, if you liked some film.
      In the top-left part of the portal you can find search input: type some text into this
      and system will try find film by the name.
      Enjoy ! :)
    </div>
  </div>
</div>
