@import '../../../variables.scss';

.header {
  background-color: $headerBackground;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 10px 0;

  &-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-search-control {
      position: relative;
    }

    &-favorites {
      position: relative;

      &__counter {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $headerCounterBackground;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $baseWhite;
        font-family: $baseFontFamily;
        padding: 2px;
        position: absolute;
        right: 0;
        top: -10px;
      }
    }
  }
}
