$baseWhite: #fff;
$baseBlack: #000;
$lightGray: #dbd3d3;

$baseFontSize: 16px;
$baseFontFamily: 'Arial';

$headerBackground: rgb(119, 5, 119);
$headerCounterBackground: rgb(228, 11, 11);
$movieListBackground: rgba(4, 4, 24, 0.849);
$borderButtonColor: rgb(218, 145, 9);
